<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<title>Blog de Cryptos</title>
</head>
<body>
	<header>
		<nav>
			<a href="{{ url_for('index') }}">Home</a>
			<a href="articulos">Artículos</a> <!-- Consultar esto -->
			<a href="{{ url_for('contacto') }}">Contacto</a>
			<a href="{{ url_for('signup') }}">Sign Up</a>
			<a href="{{ url_for('login') }}">Login</a>
			<a href="{{ url_for('logout') }}">Logout</a>

		</nav>
		
	</header>
	

	{% block content %}

	{% endblock %}
	
	<footer>
		Copyright 2022 Juan
	</footer>

</body>
</html>