{% from "_macroform.html" import render_field  %}
{% extends "base.html" %}

{% block content %}
<h1>Login</h1>



<form method=POST>
    <dl class="formulario">
        {{ form.csrf_token }}
        {{ render_field(form.usuario) }}
        {{ render_field(form.password) }}
        {{ render_field(form.remember) }}
        {{ render_field(form.boton) }}

        {% with messages = get_flashed_messages(with_categories=True)%}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                    <h5>{{ message }}<h5>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

    </dl>
   
</form>

{% endblock %}